@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}

/* The main scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: rgb(3,7,18); /* Set the color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: rgb(60, 60, 65); /* Set the color of the scrollbar thumb */
    border-radius: 10px; /* Set the border radius of the thumb */
}

/* CSS */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #999999 #F3F4F6;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(3,7,18);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(60, 60, 65);
    border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #888888;
}


@keyframes progressAnimation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.animate-progress {
    animation: progressAnimation 2.5s linear infinite;
}